body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
}

.screen {
    padding: 20px;
    text-align: right;
    font-size: 1.8em;
    color: #00ffcc;
    background-color: #000;
    border-bottom: 1px solid #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    background-color: #333;
    color: #00ffcc;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
    border-radius: 5px;
}

button.operator {
    background-color: #ff66b2;
    color: #fff;
}

button.double {
    grid-column: span 2;
}

button.double, button.operator {
    font-weight: bold;
}

button:hover {
    background-color: #555;
}